In [2]:
a = 10

In [3]:
a = input("this is integer v")

this is integer v3456

In [4]:
a

'3456'

In [5]:
type(a)

str

In [7]:
a = int(input("this is integer v"))

this is integer v7654

In [8]:
a

7654

In [9]:
type(a)

int

In [15]:
a = int(input("this is my var a"))
b = int(input("this is my var b"))
c = int(input("this is my var c"))

this is my var a45
this is my var b67
this is my var c67

In [16]:
a,b,c

(45, 67, 67)

In [17]:
O = (a+b)/c

In [18]:
o1 = O + 74 + 6j

In [19]:
o1

(75.67164179104478+6j)

In [20]:
type(o1)

complex

In [22]:
o1 + "roshni"

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [23]:
str(o1) + "roshni"

'(75.67164179104478+6j)roshni'

In [2]:
# if statement
val = input("enter the number")
value_flout = int(val)
if (value_flout > 100):
    print("num is greater than 100")

enter the number123
num is greater than 100

In [3]:
val = input("enter the number")
value_flout = int(val)
if (value_flout%2 == 0):
    print("num is even")

enter the number34
num is even

In [6]:
val = input("enter the number")
value_float = int(val)
if (value_float%2 == 0):
    print("num is even")
else:
    print("num is odd")

enter the number33
num is odd

In [7]:
age = float(input("ener the age"))
if (age<18):
    print("minor age")
else:
    print("you are not minor")

ener the age45
you are not minor

In [ ]:
# nested if else condition
age = float(input("enter the age"))
if (age<18):
    print("minor age")
    if (age<15):
        print("you are in school")
    else:
        print("you are in college")
elif(age>=18 and age<=45):        
    print("mid age")
elif(age>45 and age<50):
    print("senior mid age")
else:
    print("senior citizen")

In [1]:
# loop statement
# for loop,while loop
lst = [2,3,4,5,6,7]
for i in lst:
    print(i)

2
3
4
5
6
7

In [3]:
lst = [2,3,4,5,6,7]
for i in lst:
    print(i*2)

4
6
8
10
12
14

In [4]:
lst = [2,3,4,5,6,7]
for i in lst:
    print(i**2)

4
9
16
25
36
49

In [6]:
# find the sum of all the elements in the list
lst = [2,3,4,5,6,7]
sum1 = 0
for i in lst:
    sum1 = sum1+i
print(sum1)

27

In [14]:
# find the sum of even and odd number
lst = [2,3,4,5,6,7]
even_sum = 0
odd_sum = 0

for i in lst:
    if(i%2==0):
        even_sum=even_sum+i
    else:
          odd_sum=odd_sum+i


  
print("even sum is {}".format(even_sum))   
print("odd sum is {}".format(odd_sum))

even sum is 12
odd sum is 15

In [13]:
# find even and odd number in the list
lst = [2,3,4,5,6,7,]
even = 0
odd = 0

for i in lst:
    if(i%2==0):
        even = even+1
    else:
         odd=odd+1
   
print("even num{}".format(even))
print("odd num{}".format(odd))

even num3
odd num3

In [24]:
# while loop
i = 0
while(i<=10):
    print(i)
    i = i +1

0
1
2
3
4
5
6
7
8
9
10

In [31]:
i = 0
even = 0
odd = 0
while(i<=10):
    if(i%2==0):
        even_sum= even_sum+1
    else:
        odd_sum=odd_sum+1
        
        i = i+1
        


print(even_sum,odd_sum)

KeyboardInterrupt:

In [ ]:
#break
x = 1
while(x<=8):
    print(x)
    if(x==4):
        break
  
    x=x+1

In [45]:
#continue
x = 1
while x<8:
    x=x+1
  
    if x==4 :
         continue
    print(x)

2
3
5
6
7
8

In [25]:
a = int(input("input a number"))
if a < 34:
    print("this num is lesser then 34")
else:
    print("this number is not lesser then 34")

input a number32
this num is lesser then 34

In [26]:
a = int(input("input a number"))
if a < 34:
    print("this num is lesser then 34")
elif a <100:
    print("num is lesser then 100")
else:
    print("this number is not lesser then 34")

input a number80
num is lesser then 100

In [27]:
salary = int(input("enter your salary"))
if salary > 1000:
    print("i will buy a car")
elif salary < 500:
    print("i will buy a bike")
elif salary <100:
    print ("i will not buy enything")
else:
    print("i will go for saving")

enter your salary600
i will go for saving

In [28]:
a = 10
b = 20

if a == 10 and b>20:
    print("this is valid statment")
elif a == 10 and b<20:
    print("this is valid inside elif")
else:
    print("condition is not valid")

condition is not valid

In [29]:
a = 10
b = 20

if a == 10 and b>20:
    print("this is valid statment")
elif a == 10 and b<=20:
    print("this is valid inside elif")
else:
    print("condition is not valid")

this is valid inside elif

In [30]:
a = 10
b = 20

if a == 10 or b>20:
    print("this is valid statment")
elif a == 10 and b<=20:
    print("this is valid inside elif")
else:
    print("condition is not valid")

this is valid statment

In [31]:
#task
first_name = 'roshni'
last_name = 'harinkhede'
if first_name =='roshni'and last_name == 'harinkhede':
    print("this is correct name")
else:
    print("incorrect")

this is correct name

In [32]:
i = input("enter the name")
if i == "roshni":
    print("correct name")
elif i =="rose":
    print("write full name")
else:
    print("incorrect name")

enter the nameroshni
correct name

In [33]:
# while loop

In [34]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
    print("this is my speed")
    count = count + 1
    if count == 10:
       break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [35]:
i = 1
j = 5
while i < j:
    print(i)
    i = i +1

1
2
3
4

In [36]:
notes = 5
i = 1
while i < notes:
    print(i)
    i +=  1
else:
    print("no 10 rs notes are available")

1
2
3
4
no 10 rs notes are available

In [37]:
R = "Roshni"

In [38]:
R

'Roshni'

In [39]:
R[3]

'h'

In [40]:
R[5]

'i'

In [41]:
R = "my name is Roshni"
R

'my name is Roshni'

In [42]:
R[3:10]

'name is'

In [43]:
R[11:17]

'Roshni'

In [44]:
R[17:11]

''

In [45]:
R[10:3:-1]  # -1 is for reverse order

' si ema'

In [46]:
R[3:10:2]  # 2 is for steps

'nm s'

In [47]:
R

'my name is Roshni'

In [48]:
R[17:10:-1]

'inhsoR'

In [49]:
R[::-1]

'inhsoR si eman ym'

In [50]:
R[3:-7]

'name is'

In [51]:
s = "roshni"

In [52]:
s[-6]

'r'

In [53]:
s[0]

'r'

In [54]:
s

'roshni'

In [55]:
R

'my name is Roshni'

In [58]:
for i in R:
    print(i)

m
y

n
a
m
e

i
s

R
o
s
h
n
i

In [64]:
for i in R:
    if i == "s":
        print("i got string")
    print(i)

m
y

n
a
m
e

i
i got string
s

R
o
i got string
s
h
n
i

In [65]:
for i in R :
    print(i)
else:
    print("this is else cond")

m
y

n
a
m
e

i
s

R
o
s
h
n
i
this is else cond

In [70]:
for i in R :
    print(i)
else:
    if i == i:
        print("this is last char")
    print("this is else cond")

m
y

n
a
m
e

i
s

R
o
s
h
n
i
this is last char
this is else cond

In [71]:
for i in R :
    print(i)
    if i == 'R':
        break
else:
    if i == i:
        print("this is last char")
    print("this is else cond")

m
y

n
a
m
e

i
s

R

In [89]:
for i in R :
    if i == 'n':
        continue
    print(i)
else : 
        if i =="i":
            print("this is last char")

m
y

a
m
e

i
s

R
o
s
h
i
this is last char

In [96]:
n = 7
for i in range(0,n):
    for j in range(0,i +1):
        print("+",end= "")
    print("/r")

+/r
++/r
+++/r
++++/r
+++++/r
++++++/r
+++++++/r

In [111]:
num = 5
m = 2 * num -2
for i in range(num,-1,-1):
    for j in range(m,0, -1):
        print(end= " ")
    m = m + 1
    for j in range(0 , i +1):
        print("*", end = " ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [108]:
for i in range(num,-1,-1):
    print(i)

5
4
3
2
1
0

In [110]:
num = 5
m = 2 * num -2
for i in range(num , -1 ,-1):
    for j in range(m , 0, -1):
        print(end= " ")

In [4]:
n = 7
for i in range(0,n):
    for j in range(0,i +1):
        print("+", end = " ")
    print("/r")

+ /r
+ + /r
+ + + /r
+ + + + /r
+ + + + + /r
+ + + + + + /r
+ + + + + + + /r

In [1]:
bacon=22

In [2]:
bacon+1

23