# Tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []

In [4]:
type(l)

list

In [5]:
t1 = (23,456,234,'roshni',34.3,'hari')

In [6]:
li = [45,678,45,'urvi',45,6,'nisha']

In [8]:
t1[3]

'roshni'

In [9]:
t1[:]

(23, 456, 234, 'roshni', 34.3, 'hari')

In [10]:
t1[0:6]

(23, 456, 234, 'roshni', 34.3, 'hari')

In [11]:
t1[::-1]

('hari', 34.3, 'roshni', 234, 456, 23)

In [12]:
t1[-1]

'hari'

In [15]:
li

[45, 678, 45, 'urvi', 45, 6, 'nisha']

In [16]:
li[0]

45

In [17]:
t1

(23, 456, 234, 'roshni', 34.3, 'hari')

In [18]:
t2 = (67,'bisen')

In [19]:
t1+t2

(23, 456, 234, 'roshni', 34.3, 'hari', 67, 'bisen')

In [20]:
t1*4

(23,
 456,
 234,
 'roshni',
 34.3,
 'hari',
 23,
 456,
 234,
 'roshni',
 34.3,
 'hari',
 23,
 456,
 234,
 'roshni',
 34.3,
 'hari',
 23,
 456,
 234,
 'roshni',
 34.3,
 'hari')

In [21]:
"roshni" in t1

True

In [22]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [29]:
t3=(67,45,34,69,34,34)

In [30]:
max(t3)

69

In [27]:
t4=('a','f','u','f')

In [28]:
max(t4)

'u'

In [31]:
t3.index(69)

3

In [32]:
t3.count(34)

3

In [33]:
l2 = list(t1)

In [37]:
l2   # we can change tuple  to list

[23, 456, 234, 'roshni', 34.3, 'hari']

In [35]:
t3 = tuple(l2)

In [38]:
t3   # we can change list in to tuple

(23, 456, 234, 'roshni', 34.3, 'hari')

In [39]:
t4 = 36

In [42]:
l2.insert(2,t4) # we can insert items

In [41]:
l2

[23, 456, 36, 234, 'roshni', 34.3, 'hari']

# Nested tuples

In [51]:
t = ((3,4,5,6,),("rosh",'hari',34.5),45,67,[2,3,4,5])

In [52]:
t

((3, 4, 5, 6), ('rosh', 'hari', 34.5), 45, 67, [2, 3, 4, 5])

In [53]:
t[4][1:4] # we extract items

[3, 4, 5]

In [54]:
t[1][0]

'rosh'

In [56]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
rosh

In [58]:
t1

(23, 456, 234, 'roshni', 34.3, 'hari')

In [59]:
t2

(67, 'bisen')

In [60]:
if len(t1)==(t2):
    print("its same")
else:
    print("not same")

not same

In [70]:
t6 = ("roshni",56,89)

In [71]:
i = input("take a user input")


if i in t6:
    print("your name is available")
else:
     print("your name is not available")

take a user inputroshni
your name is available

In [72]:
t1

(23, 456, 234, 'roshni', 34.3, 'hari')

In [74]:
t4 = (23)

In [75]:
del(t1)

In [76]:
t1

NameError: name 't1' is not defined

# Set

In [77]:
x = set()

In [78]:
type(x)

set

In [79]:
l = [34,45,34,67,67,67,"roshni","roshni","bisen"]

In [81]:
set(l)  # we are able to delelete duplicate values using of set

{34, 45, 67, 'bisen', 'roshni'}

In [85]:
s = set(l)

In [86]:
for i in s:
    print(i)

34
67
45
roshni
bisen

In [87]:
34 in s

True

In [88]:
s[0]  # we can not indexing in case of set

TypeError: 'set' object is not subscriptable

In [89]:
s = set()
s

set()

In [91]:
s.add(45)

In [92]:
s

{45}

In [93]:
s.add("roshni")
s

{45, 'roshni'}

In [94]:
s.remove(45)
s

{'roshni'}

In [95]:
s.clear()

In [96]:
s

set()

In [97]:
s.add("rosh")

In [98]:
s.add(45)

In [99]:
s.add(567)
s

{45, 567, 'rosh'}

In [100]:
s1=set(l)

In [101]:
l=[34,456,347,"rosh","freds"]
s1

{34, 45, 67, 'bisen', 'roshni'}

In [102]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [3]:
l2 = [2,3,4,5]
s1 = set(l2)
s1

{2, 3, 4, 5}

In [4]:
l3 = list(s1)

In [5]:
l3

[2, 3, 4, 5]

In [7]:
l3.append("rosh")
l3

[2, 3, 4, 5, 'rosh']

In [9]:
t=tuple(s1)

In [10]:
set(t)

{2, 3, 4, 5}

# Tuples

In [11]:
x = {}
type(x)

dict

In [13]:
x1={3,4}
type(x1)

set

In [14]:
x={"name":"roshni","age":33}
x

{'name': 'roshni', 'age': 33}

In [15]:
type(x)

dict

In [18]:
x1 = {"name":"roshni","age":33,"name":"urvija",34:4567,True: 456}

In [19]:
x1

{'name': 'urvija', 'age': 33, 34: 4567, True: 456}

In [20]:
x2 = {"name":(4,4,567),"age":33,"name":"urvija",34:[4,5,6,7],True: 456}
x2

{'name': 'urvija', 'age': 33, 34: [4, 5, 6, 7], True: 456}

In [23]:
x2[34][2]

6

In [31]:
x2 = {"name":{"k1":45,'k2':[45,67,89]},"age":33,"l_name":"urvija",34:4567,True: 456}

In [32]:
x2

{'name': {'k1': 45, 'k2': [45, 67, 89]},
 'age': 33,
 'l_name': 'urvija',
 34: 4567,
 True: 456}

In [34]:
x2['name']['k2'][1]

67

In [35]:
x3={"l1":4567,"name":"roshni","age":33}
x3

{'l1': 4567, 'name': 'roshni', 'age': 33}

In [36]:
#we can replace values

In [37]:
x3["name"]="Urvija"
x3

{'l1': 4567, 'name': 'Urvija', 'age': 33}

In [39]:
x3.keys()

dict_keys(['l1', 'name', 'age'])

In [40]:
for i in x3:
    print(i)

l1
name
age

In [42]:
for i in x3.keys():
    print(x3[i])

4567
Urvija
33

In [43]:
x2

{'name': {'k1': 45, 'k2': [45, 67, 89]},
 'age': 33,
 'l_name': 'urvija',
 34: 4567,
 True: 456}

In [44]:
for i in x2.keys():
    print(x2[i])

{'k1': 45, 'k2': [45, 67, 89]}
33
urvija
4567
456

In [47]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>

In [48]:
x2.items()

dict_items([('name', {'k1': 45, 'k2': [45, 67, 89]}), ('age', 33), ('l_name', 'urvija'), (34, 4567), (True, 456)])

In [49]:
# how to extract all the keys

In [50]:
for i in x2.items():
    print(i[0])

name
age
l_name
34
True

In [51]:
# how to extract all the values

In [52]:
for i in x2.items():
    print(i[1])

{'k1': 45, 'k2': [45, 67, 89]}
33
urvija
4567
456

In [3]:
x4={(4,5,6,7):"rtyuiik"}

In [4]:
x4[(4,5,6,7)]

'rtyuiik'

In [5]:
len(x4)

1

In [6]:
e = {56:{45,67,78}}

In [11]:
# how to extract 45
e[56]

{45, 67, 78}

In [9]:
list(e[56])[0]

67

In [13]:
i = input("paragraph")

paragraphi want to become a full stack data scientist

In [1]:
#Q.0 take input as a paragraph by using input function

In [2]:
#Q.1 convert all of input in to list

In [3]:
# Q.2 Remove all the duplicate elements from list

In [4]:
# Q.3 Use all distinct element as a key for dictionary and assign your name as a values 
#all the key for dictionary

In [5]:
# Q.4 try to print tuple of all the values

In [6]:
# Q.5 try to print list of all the keys

In [7]:
# Q.0

In [9]:
paragraph = input("enter the paragraph")

enter the paragraph I want to become full stack data scientist,i study in iNeoron

In [ ]:
Q.1

In [10]:
paragraph

' I want to become full stack data scientist,i study in iNeoron'

In [13]:
list1 = paragraph.split(" ")

In [14]:
list1

['',
 'I',
 'want',
 'to',
 'become',
 'full',
 'stack',
 'data',
 'scientist,i',
 'study',
 'in',
 'iNeoron']

In [15]:
# Q.2

In [16]:
s1 = set(list1)
s1

{'',
 'I',
 'become',
 'data',
 'full',
 'iNeoron',
 'in',
 'scientist,i',
 'stack',
 'study',
 'to',
 'want'}

In [17]:
# Q.3

In [19]:
dict1 = dict.fromkeys(s1,'Roshni')
dict1

{'': 'Roshni',
 'I': 'Roshni',
 'to': 'Roshni',
 'stack': 'Roshni',
 'study': 'Roshni',
 'data': 'Roshni',
 'in': 'Roshni',
 'become': 'Roshni',
 'iNeoron': 'Roshni',
 'full': 'Roshni',
 'want': 'Roshni',
 'scientist,i': 'Roshni'}

In [20]:
#Q.4

In [21]:
t1 = tuple(dict1.values())
t1

('Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni',
 'Roshni')

In [22]:
#Q.5

In [23]:
l1 = list(dict1.keys())
l1

['',
 'I',
 'to',
 'stack',
 'study',
 'data',
 'in',
 'become',
 'iNeoron',
 'full',
 'want',
 'scientist,i']

In [34]:
d = {"company":"iNeoron","course":"full stack data science","year":2021}
d

{'company': 'iNeoron', 'course': 'full stack data science', 'year': 2021}

In [35]:
for i in d:
    print("print a key : ", i ,  ";",   "value wise : " , d[i])

print a key :  company ; value wise :  iNeoron
print a key :  course ; value wise :  full stack data science
print a key :  year ; value wise :  2021

In [36]:
'course' in d

True

In [38]:
for i in d :
    
    if i=="year":
        
        if d[i]>2021:
            
            print("year is fine")
            
        else:
            
            d[i]=2022

year is fine

In [39]:
d

{'company': 'iNeoron', 'course': 'full stack data science', 'year': 2022}

In [40]:
my_dict = {}
for i in range(10):
    my_dict[i]=i*i

In [41]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [42]:
#dictionary comprehention

In [45]:
{i : i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [47]:
{i : i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}